.profile {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 10px;
  width: 333px;
  padding: 10px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  width: 200px;
  height: 200px;
}
.name {
  font-size: 32px;
}
.tag {
  margin-top: 10px;
}
.location {
  margin-top: 15px;
}
.stats {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.stats > li {
  display: flex;
  gap: 10px;
}
.label {
  font-style: italic;
}
.quantity {
}
