.transactionHistory {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  width: 200px;
  height: 45px;
  font-weight: 500;
  font-size: 26px;
  background-color: rgba(14, 192, 246, 0.946);
  color: white;
}
.type {
  height: 35px;
  width: 200px;
}
.amount {
  font-size: 18px;
  height: 35px;
  width: 200px;
  font-weight: 600;
}
.currency {
  height: 35px;
  width: 200px;
}

table {
  border: 1px solid rgba(1, 1, 1, 0.445);
  margin: 0;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.12);
}
